<!-- -*- mode: XML -*- -->
<launch>

  <!-- Config -->
  <arg name="sensors_config" default="$(find asimcar)/config/sensors.yaml" />
  <rosparam file="$(arg sensors_config)" command="load" />
  
  <!-- Sensors -->
  <node name="front_cam_node" type="camera_node" pkg="front_cam" output="screen" />
  <node name="front_radar_node" type="radar.py" pkg="front_radar" output="screen" />

</launch>
