<!-- -*- mode: XML -*- -->
<launch>
  <!-- Parameter -->
  <arg name="vesc_port" default="/dev/VESC" />
  
  <!-- Config -->
  <arg name="vesc_config" default="$(find asimcar)/config/vesc.yaml" />
  <rosparam file="$(arg vesc_config)" command="load" />

  <!-- Ackermann to VESC cmd -->
  <group ns="vesc">
    <node pkg="vesc_ackermann" type="ackermann_to_vesc_node" name="ackermann_to_vesc">
      <remap from="commands/motor/speed" to="commands/motor/speed_unsmoothed" />
      <remap from="commands/motor/current" to="commands/motor/current_unsmoothed" />
      <remap from="commands/servo/position" to="commands/servo/position_unsmoothed" />
    </node>
    <node pkg="vesc_ackermann" type="command_interpreter.py" name="command_interpreter" />
    <!-- VESC -->
    <node pkg="vesc_driver" type="vesc_driver_node" name="vesc_driver">
      <param name="port" value="$(arg vesc_port)" />
    </node>
    <!-- Odom -->
    <node pkg="vesc_ackermann" type="vesc_to_odom_node" name="vesc_to_odom" />
  </group>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_base_footprint"
    args="0.0 0.0 0.0  0.0 0.0 0.01 /base_link /base_footprint" />
</launch>
